body {
  background: #DDDDDD;
  color: #000;
  padding: 2% 10%;
}

nav {
  list-style-type: none;
  right: 10%;
  margin: 0;
  padding: 0;
  text-align: right;
}

nav li{
  display: inline;
}

nav a{
  text-decoration: none;
  padding: 5px;
}

nav a:hover{
  background: gray;
}

.profImg {
  border-radius: 100%;
  float: left;
  margin-right: 30px;
}

.profile p{
  line-height: 1.8;
}

a:default{
  color: green;
}

hr{
  margin: 50px auto;
}


.tableCellSpacing {
  border-spacing: 10px 10px;
}

.thumbnail{
  border: solid 2px;
  border-radius: 4px;
  height: 50px;
}

.thumbnail:hover{
  box-shadow: 0 0 1px 1px;
}

.certificate{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.skillsTable tbody td:nth-child(even){
  font-size: 2rem;
  margin-right: 30px;
}

#certsAndProjects a{
  display: block;
}

#footer{
  text-align: center;
}

#footer .contact a {
  padding: 5px;
}

@media (max-width: 700px) {
  body {
    text-align: left;
    margin: auto 10%;
  }

  tbody tr{
    text-align: left;
  }

  .skillsTable tbody td:nth-child(even){
    font-size: .75rem;
  }

  #footer{
    text-align: center;
  }
}
